h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

p{
    margin: 0;
}

ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

html,
body {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Inter Tight';
    font-weight: 400;
    background: #F5EDED;

    &.active {
        overflow: hidden;
    }
}

.container {
    max-width: 1920px;
    width: 100%;
    padding: 0 40px;
    box-sizing: border-box;
    margin: 0 auto;
}

.row {
    display: flex;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

button {
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-family: inherit;
}

::-webkit-input-placeholder {
    color: #222;
    font-family: 'Inter';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    opacity: 0.4;
}
:-moz-placeholder { 
    color: #222;
    font-family: 'Inter';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    opacity: 0.4;
}
::-moz-placeholder { 
    color: #222;
    font-family: 'Inter';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    opacity: 0.4;
}
:-ms-input-placeholder { 
    color: #222;
    font-family: 'Inter';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    opacity: 0.4;
}

.menu-item {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    position: relative;

    &::after {
        display: block;
        position: absolute;
        left: 0; 
        width: 0;
        height: 1px; 
        background-color:#222;
        content: "";
        transition: width .5s ease-out;
    }
    
    &:hover::after,
    &:focus::after {
        width: 100%;
    }
}

.title {
    color: #FFF;
    font-family: 'Roslindale';
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.subtitle {
    color: #222;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    text-transform: uppercase;
}

.content {
    color: #222;
    font-size: 14px;
    font-style: normal;
    line-height: 18px;
}

.main {
    flex: 1 0 auto;  
    display: flex;
    flex-direction: column;
}

.header {
    flex: 0 0 auto;
    background-color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 5;

    &.active {
        background: #F5EDED;

        & .header__logo {
            & img:first-child {
                display: none;
            }

            & img:last-child {
                display: block;
            }
        }

        & .header__menu-item {
            color: #222;
        }

        & .header__svg {
            & svg {
                & path {
                    fill: #222;
                }
            }
        }
    }

    &:hover {
        background: #F5EDED;

        & .header__logo {
            & img:first-child {
                display: none;
            }

            & img:last-child {
                display: block;
            }
        }

        & .header__menu-item {
            color: #222;
        }

        & .header__svg {
            & svg {
                & path {
                    fill: #222;
                }
            }
        }
    }

    &__row {
        flex-direction: column;
    }

    &__top {
        display: flex;
        padding: 20px 0;
        align-items: center;
    }

    &__logo {
        margin-top: 10px;

        & img:last-child {
            display: none;
        }
    }

    &__nav {
        margin-left: 585px;
    }

    &__menu {
        display: flex;
        gap: 40px;

        & li {
            font-size: 14px;
        }
    }

    &__svg {
        display: flex;
        gap: 24px;
        margin-left: auto;
        margin-right: 0;
    }

    &__catalog {
        display: none;
        flex-direction: column;
        z-index: 5;

        &.active {
            display: flex;
        }

        &-line {
            background: #DED6D6;
            height: 1px;
            width: 100vw;
            left: -50vw;
            margin-left: 50%;
            position: relative;
        }

        &-content {
            display: flex;
            padding: 40px 0;
        }

        &-nav {
            display: flex;
            flex-direction: column;
            gap: 32px;
            margin-left: 165px;
        }

        &-item {
            color: #222;
        }

        &-menu {
            display: flex;
            flex-direction: column;
            gap: 12px;

            & li {
                max-height: 16.8px;
            }

            & li:first-child {
                margin-bottom: 4px;
                max-height: 15.2px;

                & a {
                    font-size: 12px;
                    opacity: 0.4;
                    font-weight: 400;
                }
            }
        }
    }

    &__opacity {
        width: 100vw;
        height: 100vh;
        position: absolute;
        z-index: 2;
        left: 0;
        top: 0;
        background-color: #222;
        opacity: .8;
        display: none;

        &.active {
            display: flex;
        }
    }
}

.footer {
    flex: 0 0 auto;

    &__row {
        flex-direction: column;
    }

    &__top {
        padding: 40px 155px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #DEDAD6;
        border-bottom: 1px solid #DEDAD6;

        &-line {
            background: #DEDAD6;
            height: 114px;
            width: 1px;
        }

        &-info {
            display: flex;
            flex-direction: column;
            gap: 16px;
            text-align: center;
            max-width: 290px;
            width: 100%;
        }
    }

    &__middle {
        padding: 40px 0;
        display: flex;
        border-bottom: 1px solid #DEDAD6;

        &-logo {
            display: flex;
            flex-direction: column;
            margin-right: 439px;
        }

        &-info {
            font-size: 12px;
            line-height: 145%;
            margin-top: 8px;
            font-family: 'Inter';
            color: #000;
            text-transform: uppercase;
        }

        & a {
            margin-bottom: 66px;
            max-width: 117px;
        }

        &-email {
            display: flex;
            flex-direction: column;
            margin-left: auto;
            margin-right: 0;
            max-width: 425px;
            width: 100%;
        }

        &-subtitle {
            font-weight: 500;
            text-transform: uppercase;
        }

        &-form {
            width: 100%;
            display: flex;
            margin-top: 16px;
            margin-bottom: 4px;
            
            & input {
                padding: 12px 20px;
                border: none;
                width: 100%;
                box-sizing: border-box;
                max-width: 385px;

                &:focus {
                    outline: none;
                    color: #222;
                    font-family: 'Inter';
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    text-transform: uppercase;
                }
            }
        }

        &-button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            background: #222;
        }

        &-text {
            font-size: 12px;
            opacity: 0.4;

            & span {
                text-decoration-line: underline;
            }
        }
    }

    &__bottom {
        display: flex;
        padding: 20px 0;
        align-items: center;

        &-law {
            text-align: center;
            font-family: 'Inter';
            font-size: 12px;
            line-height: 145%;
            text-transform: uppercase;
            margin-right: 578px;
        }

        &-payments {
            display: flex;
            gap: 32px;
            align-items: center;

            & img:nth-child(2) {
                max-height: 17px;
            }
        }

        &-policy {
            display: flex;
            gap: 32px;
            margin-right: 0;
            margin-left: auto;

            & a {
                text-align: center;
                font-family: 'Inter';
                font-size: 12px;
                line-height: 145%;
                text-decoration-line: underline;
                text-transform: uppercase;
                opacity: 0.4;
            }
        }
    }

    &__nav {
        max-width: 600px;
        width: 100%;
        justify-content: space-between;
        display: flex;

        &-item {
            color: #222;
        }

        &-block {
            display: flex;
            flex-direction: column;
            gap: 12px;

            & li {
                font-size: 14px;
            }

            & li:first-child {
                margin-bottom: 4px;
                max-height: 15.2px;

                & a {
                    font-size: 12px;
                    opacity: 0.4;
                    font-weight: 400;
                }
            }
        }
    }

    &__catalog {
        &-logo {
            margin-right: 187px;
        }

        &-nav {
            max-width: 852px;
            gap: 116px;
            justify-content: baseline;
        }
    }
}

.video {
    position: relative;

    &__gradient {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.00) 100%);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 260px;
    }

    &__row {
        min-height: 920px;
        align-items: flex-end;
        justify-content: center;
        padding-bottom: 40px;
        box-sizing: border-box;
    }

    &__main {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    &__content {
        display: inline-flex;
        flex-direction: column;
        align-items: center;

        &-text {
            color: #FFF;
            opacity: .6;
            margin-bottom: 12px;
        }

        &-subtitle {
            color: #FFF;
            font-weight: 500;
            line-height: 110%;
            text-transform: uppercase;
            margin-bottom: 8px;
        }

        &-line {
            width: 1px;
            height: 32px;
            background: #FFF;
        }

        & a {
            margin-top: 47px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.mission {
    &__row {
        padding: 200px 0;
        justify-content: space-between;
    }   

    &__left {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        &-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;
        }

        &-title {
            font-size: 64px;
            color: #222;
        }

        &-text {
            max-width: 424px;
            text-align: center;
        }
    }

    &__right {
        width: 50%;

        & video {
            max-height: 1200px;
        }
    }
}

.gallery {
    &__row {
        padding-bottom: 200px;
    }

    &__left {
        width: 50%;
        max-height: 1200px;
        position: relative;

        &-title {
            color: #F5EDED;
            text-align: center;
            font-size: 80px;
            transform: rotate(-90deg);
            position: absolute;
            bottom: 180px;
            right: -60px;
            z-index: 1;
        }

        &-title2 {
            color: #F5EDED;
            text-align: center;
            font-size: 80px;
            transform: rotate(-90deg);
            position: absolute;
            bottom: 180px;
            left: -60px;
            z-index: 1;
        }
    }

    &__right {
        width: 50%;
        padding: 200px 0 200px 320px;
        max-height: 1200px;
        box-sizing: border-box;

        &-second {
            width: 50%;
            padding: 200px 320px 200px 0px;
            max-height: 1200px;
            box-sizing: border-box;
        }
    }
}

.categories {
    &__row {
        flex-wrap: wrap;
    }

    &__item {
        width: 50%;
        position: relative;

        & img {
            max-height: 1200px;
        }

        &-content {
            position: absolute;
            left: 40px;
            bottom: 40px;
            z-index: 1;
        }

        &-text {
            color: #FFF;
            opacity: 0.6;
            margin-bottom: 12px;
        }

        &-bottom {
            display: flex;
            gap: 8px;
            margin-top: 40px;
            align-items: center;
        }

        &-line {
            width: 32px;
            height: 1px;
            background-color: #FFF;
        }

        &-subtitle {
            color: #FFF;
            font-weight: 500;
            line-height: 110%;
            text-transform: uppercase;
        }

        &-gradient {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.30) 100%);
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            min-height: 260px;
        }
    }
}

.card {
    &__row {
        padding: 40px 0 202px 0;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
        max-width: 600px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        justify-content: center;

        & video {
            max-height: 720px;
            min-width: 600px;
        }

        &-content {
            display: flex;
            flex-direction: column;
            gap: 4px;
            text-align: center;
        }

        &-name {
            font-weight: 500;
            text-transform: uppercase;
        }

        &-color {
            font-size: 12px;
            opacity: 0.4;
        }
    }

    &__filters {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-row {
            padding-top: 40px;
            padding-bottom: 0;
        }

        &-block {
            display: flex;
            gap: 8px;
            align-items: center;
        }
    }

    &__catalog {
        &-row {
            padding-top: 20px;
            padding-bottom: 0;
        }

        &-item {
            margin-bottom: 40px;
        }

        &-left {
            display: flex;
            flex-direction: column;
            margin-right: 40px;
        }

        &-right {
            max-width: 1200px;
            width: 100%;

            & video {
                max-height: 1554px;
                margin-bottom: 16px;
            }
        }
    }

    &__row-2 {
        padding-bottom: 80px;
        padding-top: 0;
    }
}

.arrival {
    position: relative;

    &__row {
        min-height: 1200px;
        align-items: flex-end;
        justify-content: center;
        padding-bottom: 25px;
        box-sizing: border-box;
    }

    &__content {
        display: inline-flex;
        flex-direction: column;
        align-items: center;

        &-text {
            color: #FFF;
            opacity: .6;
            margin-bottom: 12px;
        }

        &-subtitle {
            color: #FFF;
            font-weight: 500;
            line-height: 110%;
            text-transform: uppercase;
            margin-bottom: 8px;
        }

        &-line {
            width: 1px;
            height: 32px;
            background: #FFF;
        }

        & a {
            margin-top: 47px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        max-height: 1200px;
        z-index: -1;
    }

    &__catalog {
        &-row {
            min-height: 790px;
        }

        &-content {
            margin-bottom: 16px;
        }
    }
}

.journal {
    &__row {
        flex-direction: column;
        gap: 40px;
        padding-bottom: 200px;
    }

    &__top {
        padding-bottom: 21px;
        border-bottom: 1px solid #DED6D6;
        justify-content: space-between;
        display: flex;
        align-items: end;

        &-title {
            font-size: 64px;
            color: #222;
        }

        &-line {
            width: 40px;
            height: 1px;
            background-color: #222;
        }

        &-content {
            font-weight: 500;
            text-transform: uppercase;
        }

        &-button {
            display: flex;
            gap: 8px;
            align-items: center;
        }
    }

    &__bottom {
        display: flex;
        gap: 20px;
    }
    
    &__left {
        max-width: 600px;
    }

    &__right {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1220px;

        &-date {
            font-size: 12px;
            margin-bottom: 40px;
        }

        &-title {
            color: #222;
            margin-bottom: 24px;
        }

        &-content {
            max-width: 486px;
            margin-bottom: 40px;
        }

        &-button {
            display: flex;
            gap: 8px;
            align-items: center;
            margin-bottom: 33px;
            max-width: 140px;
        }

        &-line {
            width: 40px;
            height: 1px;
            background-color: #222;
        }

        &-view {
            font-weight: 500;
            text-transform: uppercase;
        }

        &-border {
            background: #DED6D6;
            height: 1px;
            max-width: 100%;
            margin-bottom: 20px;
        }
    }

    &__sections {
        display: flex;
        gap: 20px;
        justify-content: space-between;

        &-item {
            display: flex;
            flex-direction: column;
            max-width: 600px;
        }

        &-date {
            opacity: 0.4;
            font-size: 12px;
            margin-top: 16px;
            margin-bottom: 8px;
        }
    }
}

.filters {
    position: fixed;
    top: 0;
    right: 0;
    padding: 40px;
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    background-color: #FFF;
    z-index: 10;
    max-width: 640px;
    width: 100%;
    height: 100vh;

    &.active {
        display: flex;
    }

    &__opacity {
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: 7;
        left: 0;
        top: 0;
        background-color: #222;
        opacity: .8;
        display: none;

        &.active {
            display: flex;
        }
    }

    &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    &__section {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #DEDAD6;

        &-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 24px 0;
        }

        &-name {
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-transform: uppercase;
            color: #222;
            align-items: center;
            display: flex;
        }

        &-menu {
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 24px;

            & li {
                margin-left: 19px;
            }

            & li:nth-child(n+4) {
                margin-top: 12px;
            }

            & li:nth-child(3n+1) {
                margin-left: 0;
            }
        }

        &-item {
            font-size: 14px;
            display: flex;
            align-items: center;
            gap: 8px;
            flex-basis: 174px;
            flex-shrink: 0;

            & form {
                width: 100%;
                height: 100%;
                max-width: 16px;
                max-height: 16px;
            }

            & input {
                margin: 0;
                width: 16px;
                height: 16px;
            }
        }
    }

    &__sort {
        border-top: 1px solid #DEDAD6;

        &-menu {
            display: none;

            &.active {
                display: flex;
            }
        }
    }

    &__category {
        &-menu {
            display: none;

            &.active {
                display: flex;
            }
        }
    }

    &__collection {
        &-name {
            color: #FFF;
            font-family: 'Inter';
            font-size: 8px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-transform: uppercase;
            padding: 1px 4px;
            border-radius: 50%;
            background-color: #222;
            margin-left: 4px;
        }

        &-menu {
            display: none;

            &.active {
                display: flex;
            }
        }
    }

    &__color {
        &-menu {
            display: none;

            &.active {
                display: flex;
            }
        }
    }

    &__size {
        &-menu {
            display: none;

            &.active {
                display: flex;
            }
        }
    }

    &__availability {
        &-menu {
            display: none;

            &.active {
                display: flex;
            }
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: auto;
        margin-bottom: 0;
    }

    &__button {
        max-width: 270px;
        padding: 11px 0px;
        box-sizing: border-box;
        width: 100%;
        text-transform: uppercase;
        border: 1px solid #222;

        &:hover {
            border: none;
            background: #222;
            padding: 12.5px 0;

            & .content {
                color: #FFF;
                font-weight: 500;
                line-height: normal;
            }
        }
    }
}